@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primarycolor:#dcaf5d;
  --textcolor:#1b1b1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navications-div{
  padding: 12px 0;
}

.navications-div {
    padding: 12px 0;
    background: #00000069;
    position: absolute;
    z-index: 2;
}
.menu-sections01{
  width:79%;
}
.menu-sections01 .nav-link ,
.login-ins{
  color: var(--background);
  font-size: 18px;
  font-weight: 500;
  padding: 0 15px;

}
.right-logins{
  width: 21%;
  justify-content: flex-end;
}
.signup-btn{
  background: var(--primarycolor);
  padding: 12px 30px;
  border-radius: 15px;
  color: var(--background) !important;
}
/* banner part */

.banner-slider-parts{
  height: 650px;
}
.mains-forms014{
  border-radius: 20px;
  padding: 28px;
  width: 100%;
}
.forms-seraclist{
  margin-top: -480px;
  position: relative;
  z-index: 2;
}
.mains-forms014{
  position: relative;
}
.mains-forms014::before{
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
      border-radius: 0px 0px 20px 0px;
    box-shadow: 10px 10px 0px 0px #FFFFFF;
}
.crm-groups{
  margin-bottom: 17px;
}
.crad-list-menu{
  border: solid 1px #bbb;
}
.crad-list-menu h1{

}
.crad-list-menu p{
  margin-bottom: 10px;
  margin-top: 10px;
}
.crad-list-menu hr{
  background: #bbb;
}
.sub-pages01{
  padding-bottom: 70px;
}
.new-cson{
  padding-top: 70px;
}
.crad-list-menu p strong{
  color: var(--primarycolor);
}
.crm-groups label{
  color: var(--textcolor);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.suend-butons{
  width: 100%;
  background: var(--primarycolor);
      padding: 17px 32px;
    margin-top: 0;
    position: relative;
    top:-25px;
    border-radius: 17px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
}
.suend-butons:hover{
  background: var(--foreground);
  color: var(--background) !important;
}
.suend-butons:hover svg{
  fill: var(--background) !important;
}
.crm-groups label span{
  margin-right: 5px;
}
.crm-groups input,
.crm-groups select{
    background-color: #f2f2f2;
    height: 53px;
    color: var(--textcolor);
    border-radius: 13px;
    text-indent: 15px;
    border: none;
    font-size: 14px;

}
.crm-groups textarea{
  background-color: #f2f2f2;
  height: 100px;
  resize: none;
  color: var(--textcolor);
  border-radius: 13px;
  border: none;
}
.crm-groups input:focus,
.crm-groups select:focus{
  box-shadow: none !important;
}
.inside-scrolls-div{
  height: auto;
  /* overflow-y: auto;
  overflow-x: hidden; */
  padding-right: 10px;
}
.banners-text01 h2{
  font-size: 55px;
  font-weight: 800;
  line-height: 63px;
  margin-bottom: 7px;
}
.banners-text01 h2 span{
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}
.banners-text01 p{
  margin: 0;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 15px !important;
}
.user-img01{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 5px #fff;
  margin: 0 -10px;
}
.user-img01 img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.mains-dates{
  margin-top: 0;
}
.datea-list{
  border: solid 1px #f2f2f2;
  border-radius: 15px;
  overflow: hidden;
      height: 140px;
    padding: 0 30px;
}
.datea-list .cions{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background: #fffaf0;
    display: grid;
    justify-content: center;
    align-items: center;
    border: solid 1px #dcaf5d;
    margin-right: 15px;
}
.datea-list h3{
  font-size: 35px;
  font-weight: 800;
  color: var(--foreground);
}
.datea-list h3 span{
  font-size: 16px;
  font-weight: 500;
  color: #555;
}
.dark-bg{
  background: var(--primarycolor);
}
.dark-bg h3,
.dark-bg h3 span{
  color: var(--background) !important;
}
.plans015 span{
  font-size: 20px;
  font-weight: 700;
  color: var(--foreground);
}
.explores-div{
  padding: 100px 0;
}
.main-headings{
  font-size: 45px;
  font-weight:800;
  color: var(--foreground);
}
.b-dsicover-btn {
    background: var(--primarycolor);
    padding: 12px 30px;
    border-radius: 15px;
    color: var(--background) !important;
}
.card-sections{
  height: 530px;
  position: relative;
  width: 90%;
}
.card-sections figure{
   height: 530px;
   position: relative;
   z-index: 1;
}
.card-sections figure img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.text-block{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    padding-left: 15px;
    padding-bottom: 100px;
    z-index: 3;
    bottom: 0;
    text-align: left;
    color: #fff;
    transition: all 0.5s;
    transform: translateY(0);
    background: #000000;
    background: linear-gradient(358deg, rgba(0, 0, 0, 0.81) 30%, rgba(0, 0, 0, 0.06) 91%);
}
.man-crads:hover .text-block{
  transform: translateY(0);
  bottom: 0;
  height: 200px;
}
.text-block h4{
  font-size: 28px;
}
.text-block p{
  font-size: 15px;
  font-weight: 200;
}
.text-block .btn-divu{
      background: var(--primarycolor);
    padding: 12px 28px;
    border-radius: 12px;
    color: var(--background) !important;
    font-size: 15px;
    margin-top: 15px;
    visibility: hidden;
    transition: all 0.5s;
    opacity: 0;
    width: 165px;
}

.man-crads:hover .text-block .btn-divu{
  visibility: visible;
  opacity: 1;
}
footer{
  background:#0b0b0b;
  padding: 70px 0 0 0;
}
.left-footer h5{
  color: var(--primarycolor);
  font-size: 18px;
}
.left-footer h3{
 font-size: 56px;
 line-height: 70px;
 font-weight: 700;
}
.forms-div{
  border-bottom: solid 3px #1b1b1b;
  padding-bottom: 15px;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
}
.forms-div input{
  font-size: 18px;
  color: var(--background);
  text-transform: capitalize;
}
.btn-secobcibe{
  background: var(--primarycolor);
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
}
.top-sections{
  border-bottom: solid 1px #181818;
  padding-bottom: 69px;
}
.bootems-div{
  padding: 50px 0;
}
.bootems-div h5{
   color: var(--background);
   font-size: 25px;
   font-weight: 600;
}
.list01{
    display: grid;
    padding: 0;
    margin-top: 10px;
    border: solid 1px #323232;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 110px;
    justify-content: center;
    align-content: center;
}
footer p{
  color: #bbb;
  font-weight: 200;
}
.last-footers{
      background: #080808;
    padding: 18px 0;
}
.c-list01 li a{
    color: #bbb;
  font-weight: 200;
  line-height: 45px;
}
.last-list01 li{
  display: flex;
  justify-content: flex-end;
}
.last-list01 li a{
  text-align: right;

}
@media(min-width:1008px){
  .container{
    max-width: 1400px;
    margin: 0 auto;
  }
  .banners-text01 p{
  width: 90%;
  margin: 0;
}
}
