@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primarycolor:#dcaf5d;
  --textcolor:#1b1b1b;
  --darkcolor:#0d0d0d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navications-div{
  padding: 12px 0;
}

.navications-div {
    padding: 0 0 15px 0;
    background: #fff;
    z-index: 2;
}
.tops-sec-head{
  background: var(--darkcolor);
  padding: 12px 0;
}
.mainmenus{
  padding: 10px 0 0 0;
}
.menu-sections01{
  width:60%;
}
.logos-mains{
  width: 20%;
}
.menu-sections01 .nav-link ,
.login-ins{
  color: var(--foreground);
  font-size: 18px;
  font-weight: 500;
  padding: 0 14px;

}
.bt-links01{
  text-decoration: underline;
  color: var(--background);
  font-size: 14px;
}
.right-logins{
  width: 20%;
  justify-content: flex-end;
}
.signup-btn{
  background: var(--primarycolor);
  padding:12px 24px;
  border-radius: 15px;
  color: var(--background) !important;
}
.soclins{
  padding: 0 8px;
  display: inline-block;
}
.forms-seraclist .suba-text{
  font-size: 30px;
  margin-bottom: 0;
}
.list-gh01{
  color: var(--primarycolor);
}
/* banner part */

.banner-slider-parts{
  height: 610px;
}
.mains-forms014{
  border-radius: 20px;
  padding: 28px;
  width: 100%;
  margin-top: 40px;
}
.forms-seraclist{
  margin-top: -460px;
  position: relative;
  z-index: 2;
}
.mains-forms014{
  position: relative;
}
.mains-forms014::before{
    position: absolute;
    left: -50px;
    bottom: 117px;
    content: "";
    border-radius: 0px 0px 20px 0px;
    box-shadow: 10px 10px 0px 0px var(--background);
    /* top: 0; */
    width: 50px;
    height: 50px;
}
.mains-forms014::after{
    position: absolute;
    right:-50px;
    bottom: 117px;
    content: "";
    border-radius: 0px 0px 0px 20px;
    box-shadow: -10px 10px 0px 0px var(--background);
    width: 50px;
    height: 50px;
}
.advance-btn{
  text-transform: capitalize;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.5s;
  margin-left: -50px;
}
.advance-btn:hover{
  color: var(--primarycolor);
}
.advance-btn svg{
  width: 18px;
  height: 18px;
}
.crm-groups{
  margin-bottom: 17px;
}
.crad-list-menu{
  border: 1px solid #e5e5e5;
}
.crad-list-menu h1{
  font-size: 30px;
  font-weight: 700;
}
.crad-list-menu h2{
  font-size: 25px;
  font-weight: 700;
}
.crad-list-menu p{
  margin-bottom: 10px;
  margin-top: 10px;
}
.crad-list-menu hr{
  background: #bbb;
}
.sub-pages01{
  padding-bottom: 70px;
}
.share-btn{
  background: var(--primarycolor);
  padding: 12px 25px;
  border-radius: 12px;
  color: var(--background);
  font-size: 18px;
}
.disclers-div{
  border: 1px solid #e5e5e5;
  padding: 30px;
  background: var(--primarycolor);
}
.disclers-div h2{
  font-size: 25px;
  font-weight: 700;
}
.new-cson{
  padding-top: 70px;
}
.crad-list-menu p strong{
  color: var(--primarycolor);
}
.crm-groups label{
  color: var(--textcolor);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.suend-butons{
  background: var(--primarycolor);
      padding: 16px 30px;
    margin-top: 0;
    position: relative;
    top:0;
    border-radius: 17px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
}
.suend-butons:hover{
  background: var(--foreground);
  color: var(--background) !important;
}
.suend-butons:hover svg{
  fill: var(--background) !important;
}
.crm-groups label span{
  margin-right: 5px;
}
.crm-groups input,
.crm-groups select{
    background-color: #f2f2f2;
    height: 53px;
    color: var(--textcolor);
    border-radius: 13px;
    text-indent: 15px;
    border: none;
    font-size: 14px;

}
.crm-groups textarea{
  background-color: #f2f2f2;
  height: 100px;
  resize: none;
  color: var(--textcolor);
  border-radius: 13px;
  border: none;
}
.ns-text{
  font-size: 30px;
  color: var(--primarycolor);
  font-weight: 500;
  margin-bottom: 10px;
}
.crm-groups input:focus,
.crm-groups select:focus{
  box-shadow: none !important;
}
.inside-scrolls-div{
  height: auto;
  /* overflow-y: auto;
  overflow-x: hidden; */
  padding-right: 10px;
}
.ab-pics01 img{
  width: 90%;
}
.banners-text01 h2{
  font-size: 75px;
  font-weight: 800;
  line-height: 75px;
  margin-bottom: 7px;
}
.banners-text01 h2 span{
  font-size: 54px;
  font-weight: 600;
  text-transform: capitalize;
}
.banners-text01 p{
  margin: 0;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 15px !important;
}
.user-img01{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 5px #fff;
  margin: 0 -10px;
}
.user-img01 img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.mains-dates{
  margin-top: 0;
}
.datea-list{
  border: solid 1px #f2f2f2;
  border-radius: 15px;
  overflow: hidden;
      height: 140px;
    padding: 0 30px;
        width: 90%;
}
.body-heading{
font-size: 60px;
    font-weight: 800;
    line-height: 69px;
    margin-bottom: 7px;
}
.datea-list .cions{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background: #fffaf0;
    display: grid;
    justify-content: center;
    align-items: center;
    border: solid 1px #dcaf5d;
    margin-right: 15px;
}
.comoun-card-grid{
  width: 100%;
  height: 450px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.comoun-card-grid .text-grid015{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
      padding-left: 15px;
    padding-bottom: 30px;
    bottom: 0;
    z-index: 2;
        background: #000000;
    background: linear-gradient(358deg, rgba(0, 0, 0, 0.81) 30%, rgba(0, 0, 0, 0.06) 91%);
}
.comoun-card-grid .text-grid015 h5{
  color: var(--background);
  font-size: 22px;
  font-weight: 700;
}
.comoun-card-grid .text-grid015 p{
  color: var(--background);
  font-size: 15px;
  font-weight: 200;
}
.comoun-card-grid figure{
  width: 100%;
  height: 450px;
  border-radius: 15px;
  overflow: hidden;
  display: inline-block;
}
.darks-amb-texm .b-dsicover-btn{
  margin-top: 9px;
  display: inline-block;
}
.comoun-card-grid img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.darks-amb-texm{
  background: #f1efea;
  padding: 100px 0;
  margin: 60px 0 0 0;
  position: relative;
}
.testimonials-div{
  background: #f1efea;
  padding: 70px 0;
  position: relative;
}
.usert01{
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
.usert01 img{
  width: 100%;
  height: 100%;
}
.card-sections-testimolias{
  width: 90%;
}
.card-sections-testimolias h4{
  font-size: 20px;
  font-weight: 500;
}
.card-sections-testimolias h4 span{
  font-size: 14px;
  font-weight: 200;
}
.plans-btn{
  background: var(--primarycolor);
  border-radius: 12px;
  color: var(--background);
  padding: 12px 25px;
}
.datea-list h3{
  font-size: 35px;
  font-weight: 800;
  color: var(--foreground);
}
.datea-list h3 span{
  font-size: 16px;
  font-weight: 500;
  color: #555;
}
.new-cson{
  padding: 90px 0;
}
.spco01{
  position: absolute;
  top:0;
  left: 0;
}
.dark-bg{
  background: var(--primarycolor);
}
.dark-bg h3,
.dark-bg h3 span{
  color: var(--background) !important;
}
.plans015 span{
  font-size: 20px;
  font-weight: 700;
  color: var(--foreground);
}
.explores-div{
  padding: 100px 0;
}
.main-headings{
  font-size: 45px;
  font-weight:800;
  color: var(--foreground);
}
.b-dsicover-btn {
    background: var(--primarycolor);
    padding: 12px 30px;
    border-radius: 15px;
    color: var(--background) !important;
}
.card-sections{
  height: 530px;
  position: relative;
  width: 90%;
}
.card-sections figure{
   height: 530px;
   position: relative;
   z-index: 1;
}
.card-sections figure img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.text-block{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    padding-left: 15px;
    padding-bottom: 100px;
    z-index: 3;
    bottom: 0;
    text-align: left;
    color: #fff;
    transition: all 0.5s;
    transform: translateY(0);
    background: #000000;
    background: linear-gradient(358deg, rgba(0, 0, 0, 0.81) 30%, rgba(0, 0, 0, 0.06) 91%);
}
.man-crads:hover .text-block{
  transform: translateY(0);
  bottom: 0;
  height: 200px;
}
.text-block h4{
  font-size: 28px;
}
.text-block p{
  font-size: 15px;
  font-weight: 200;
}
.text-block .btn-divu{
      background: var(--primarycolor);
    padding: 12px 28px;
    border-radius: 12px;
    color: var(--background) !important;
    font-size: 15px;
    margin-top: 15px;
    visibility: hidden;
    transition: all 0.5s;
    opacity: 0;
    width: 165px;
}

.man-crads:hover .text-block .btn-divu{
  visibility: visible;
  opacity: 1;
}
footer{
  background:#0b0b0b;
  padding: 70px 0 0 0;
}
.left-footer h5{
  color: var(--primarycolor);
  font-size: 18px;
}
.left-footer h3{
 font-size: 56px;
 line-height: 70px;
 font-weight: 700;
}
.forms-div{
  border-bottom: solid 3px #1b1b1b;
  padding-bottom: 15px;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
}
.forms-div input{
  font-size: 18px;
  color: var(--background);
  text-transform: capitalize;
}
.btn-secobcibe{
  background: var(--primarycolor);
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
}
.top-sections{
  border-bottom: solid 1px #181818;
  padding-bottom: 69px;
}
.bootems-div{
  padding: 50px 0;
}
.bootems-div h5{
   color: var(--background);
   font-size: 25px;
   font-weight: 600;
}
.list01{
    display: grid;
    padding: 0;
    margin-top: 10px;
    border: solid 1px #323232;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 110px;
    justify-content: center;
    align-content: center;
}
footer p{
  color: #bbb;
  font-weight: 200;
}
.last-footers{
      background: #080808;
    padding: 18px 0;
}
.c-list01 li a{
    color: #bbb;
  font-weight: 200;
  line-height: 45px;
}
.last-list01 li{
  display: flex;
  justify-content: flex-end;
}
.last-list01 li a{
  text-align: right;

}
@media(min-width:1008px){
  .container{
    max-width: 1400px;
    margin: 0 auto;
  }
  .banners-text01 p{
  width: 90%;
  margin: 0;
}
}
